<br>
<div class="row">
  <div class="col">
    <% if @stores.any? %>
      <div  class="card card-inverse" style="background-color: #333; border-color: #333;">
        <div class="card-body">
          <table class="table table-hover table-bordered">
            <thead class="thead text-black bg-light">
              <tr>
                <th>Shoe store</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @stores.each do |store| %>
                <tr class="table-light">
                  <td class="align-middle"><%= store.store_name %></td>
                  <td style="text-align: center;">
                    <a href="/store/<%= store.id %>">
                      <button class="btn btn-success" type="button">View Store Page</button>
                    </a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col">
    <div  class="card card-inverse" style="background-color: #333; border-color: #333;">
      <div class="card-body text-white">
        <h1>Add stores</h1>

        <form action="/add_store" method="post">
          <div class="form-group">
            <label for="store_name">Store: </label>
            <input id="store_name" name="store_name" class="form-control" type="text">
          </div>
          <button type="submit" class="btn btn-warning">Add store</button>
        </form>
        <br>
      </div>
    </div>
  </div>
</div>
